---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import logoAstro from '../../../assets/cards/astro.webp'
import feature04 from '../../../assets/cards/gohugoio.png'
import logJekyll from '../../../assets/cards/jekyll-logo.png'
import logPress from '../../../assets/cards/wordpress.gif'
import logHexo from '../../../assets/cards/hexo.webp'
import obsidian from '../../../assets/cards/obsidian.webp'
import next from '../../../assets/cards/next.webp'

// Props
type Props = {
	typeCount: number[]
}
const { typeCount: typeCount} = Astro.props

const title = "The <strong>themes.run</strong>, your creative accelerator. "
const text = "From template to masterpiece, just a little inspiration from you."
---

<Section id="hero" classes=`bg-neutral-50 dark:bg-neutral-900`>
	<Row>
		<Col span="12" align="center">
			<header class="page-header">
				<h3 class="page-header__title" set:html={title} />
				<p class="page-header__text" set:html={text} />
			</header>
		</Col>
	</Row>
</Section>
<div class="border border-slate-300 border-b-0 mt-0"></div>
<Section id="features">
	<Row>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title=`Theme collection: Astro [ ${typeCount[0]} ]`
				subtitle="Astro is a JavaScript web framework optimized for building fast, content-driven websites."
				image={logoAstro}
				link="/astro"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title=`Theme collection: Next.js [ ${typeCount[1]} ]`
				subtitle="The React Framework for the Web."
				image={next}
				link="/next"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title=`Theme collection: GoHugo [ ${typeCount[2]} ]`
				subtitle="The world's fastest framework for building websites."
				image={feature04}
				link="/hugo"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title=`Theme collection: Jekyll [ ${typeCount[3]} ]`
				subtitle="Jekyll • Simple, blog-aware, static sites."
				image={logJekyll}
				link="/jekyll"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title=`Theme collection: WordPress [ ${typeCount[4]} ]`
				subtitle="Build a Site, Sell Your Stuff, Start a Blog & More."
				image={logPress}
				link="/wordpress"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title=`Theme collection: Hexo [ ${typeCount[5]} ]`
				subtitle="Hexo is a fast, simple & powerful blog framework powered by Node.js."
				image={logHexo}
				link="/hexo"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title=`Theme collection: Obsidian [ ${typeCount[6]} ]`
				subtitle="Sharpen your thinking. · Your thoughts are yours."
				image={obsidian}
				link="/obsidian"
			/>
		</Col>
	</Row>
</Section>
