---
// Blog Card
// ------------
// Description: The blog card component
// Properties:
// - Title: the title of the card
// - Subtitle: the subtitle of the card
// - Image: the main image of the card
// - Icon: the icon of the card
// - Link: The link to the blog post
// - classes: extra classes
// - Tags: the tags of the blog post
// Reference: https://wind-ui.com/components/cards/

// Components
// - UI
import { Image } from 'astro:assets'
import Card from './partials/Card.astro'
import CardBody from './partials/CardBody.astro'
import Badge from '../Badge.astro'
import Row from '../Row.astro'

// Props
type Props = {
	title?: string
	subtitle?: string
	image?: any
	link?: string
	classes?: string
	tags?: string[],
	price: string,
	license: string,
	git: string,
	star: string,
	web: string,
	typ: string,
}
const {
	title = '',
	subtitle,
	image,
	link,
	classes = '!shadow-none border border-neutral-300 dark:border-neutral-800',
	tags,
	price,
	license,
	git,
	star,
	web,
	typ
} = Astro.props
---

<Card classes={classes}>
	<a href={link} class="flex flex-col">
	<!-- {image && <Image src={image} alt={title} width={400} height={160} />} -->
	<Image
		width={360}
		height={240}
		transition:name={title}
		loading="lazy"
		src={image}
		alt={`${title} cover pic`}
		class="h-64 w-full transition-transform hover:scale-105"
		/>
	<CardBody>
		<h3 class="post-title">
			<span>{title}</span>
		</h3>
		<div class="post-subtitle">{subtitle}</div>
		<slot />
	</CardBody>
	</a>
	<div class="grid grid-cols-12 border-t border-neutral-100 px-2 py-2 dark:border-neutral-800">
		{
			tags && (
				<div class="post-tags col-span-8">
					{tags.map((tag: string) => (
						<Badge name={tag} link={`/${typ}/` + tag} classes="capitalize" />
					))}
				</div>
			)
		}
	</div>
	<div class="grid grid-cols-12 text-lg text-neutral-500 dark:text-neutral-500 dark:decoration-violet-800">
		<div class="col-span-12 grid grid-cols-12">
			<div class="col-span-3 border-x border-slate-100 bg-neutral-200 text-neutral-500 dark:bg-neutral-800 dark:text-neutral-500 text-center">{price}</div>
			<div class="col-span-3 border-x border-slate-100 bg-neutral-200 text-neutral-500 dark:bg-neutral-800 dark:text-neutral-500 text-center">{license}</div>
			<div class="col-span-3 border-x border-slate-100 bg-neutral-200 dark:bg-neutral-800 text-center underline decoration-violet-300 dark:decoration-violet-500">
				<a href={git} target="_blank">
					<div class="flex items-center justify-center">
						<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><path fill="currentColor" d="M13.51 3.139c-.652-1.185-2.368-1.185-3.021 0a28 28 0 0 0-2.114 4.894a.35.35 0 0 1-.33.223a30 30 0 0 0-4.375.436c-1.337.233-1.926 1.837-.91 2.83q.192.188.388.374a32 32 0 0 0 3.103 2.587a.274.274 0 0 1 .11.31a27.6 27.6 0 0 0-1.172 5.065c-.19 1.424 1.318 2.298 2.495 1.694a29.3 29.3 0 0 0 4.085-2.537a.4.4 0 0 1 .462 0a29 29 0 0 0 4.085 2.537c1.177.604 2.685-.27 2.495-1.694a27.6 27.6 0 0 0-1.171-5.065a.274.274 0 0 1 .11-.31a32 32 0 0 0 3.49-2.96c1.016-.994.427-2.598-.91-2.831a30 30 0 0 0-4.376-.436a.35.35 0 0 1-.329-.223a27.7 27.7 0 0 0-2.114-4.894"/></svg>
						{star}
					</div>
				</a>
			</div>
			<div class="col-span-3 border-x border-slate-100 bg-neutral-200 dark:bg-neutral-800 text-center underline decoration-violet-300 dark:decoration-violet-500">
				<a href={web} target="_blank">Demo</a>
			</div>
		</div>
	</div>
</Card>

<style>
	.post-title {
		@apply mb-0 text-xl [&_a]:text-inherit;
	}
	.post-subtitle {
		@apply mb-2 text-sm font-normal text-neutral-400 dark:text-neutral-400;
	}
	.post-tags {
		@apply flex gap-2 ;
	}
</style>
